<h1>Генератор звітів</h1>

<%= form_tag(report_by_date_path, method: :get) do %>
  <div>
    <label>Початкова дата:</label>
    <%= date_field_tag :start_date %>
  </div>

  <div>
    <label>Кінцева дата:&emsp;&nbsp;</label>
    <%= date_field_tag :end_date %>
  </div>

  <div>
    <%= submit_tag "Звіт за датами", name: "report_type", value: "За датою", class: "btn btn-outline-primary" %>
    <%= submit_tag "Звіт за категоріями", name: "report_type", value: "За категоріями", class: "btn btn-outline-primary", formaction: report_by_category_path %>
    <%= submit_tag "Очищення", name: "clear_button", value: "Очистити", class: "btn btn-outline-danger", formaction: reports_index_path %>
  </div>
<% end %>
